/* #intro1 {color: #3498db; font-size: 10px; font-weight: bold;}
    header {color: #3498db; font-size: 20px; background-color: green;}
    #banner {color: #3498db; font-size: 30px; background-image: url(images/static.jpg);} */
.greatin {
    display: flex;
    position: absolute;
    width: 327px;
    height: 164px;
    left: 27px;
top: 382px;
background: #E5E5E5;
}