* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.page {
  display: flex;
  flex-direction: column;
  margin: unset;
  overflow: auto;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 5%;
}

.middle {
  color: #36b37e;
}

.description {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.button {
  color: #172b4d;
  margin-top: 100px;
  justify-content: center;
}

.button:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.button:focus {
  background: #008552;
}

.lines {
  justify-content: center;
  font-size: 40px;
  line-height: 52px;
  margin-top: unset;
  margin-bottom: unset;
  color: #172b4d;
}

.socials {
  display: flex;
  gap: 1rem;
  justify-content: center;
  list-style-type: none;
}

.menu {
  display: flex;
  justify-content: right;
  padding: 40px;
}

.headline {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.background-image {
  position: absolute;
  width: 100%;
}

.hdescription {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #172b4d;
}

.hdescription::after {
  content: '';
  width: 48px;
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  background: #36b37e;
  border-radius: 24px;
}

.categories {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #3a4a42;
  font-size: larger;
}

.image-container {
  display: flex;
  justify-content: center;
  max-height: 500px;
}

.article {
  display: flex;
  justify-content: center;
  gap: 2rem;
  text-align: start;
}

.section-placeholder {
  margin-top: 50px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.placeholder-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10%;
}

.placeholder-box {
  display: flex;
  flex-direction: column;
}

.placeholder {
  max-height: 250px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 12px 12px 0 0;
}

.text-container {
  border: 1px solid #ebf0ee;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  margin-top: -10px;
  background: white;
}

h1 {
  text-align: center;
  color: #3a4a42;
  padding-top: 15px;
}

.button1 {
  padding-bottom: 36px;
}

.button1:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.button1:focus {
  background: #008552;
}

.button-text {
  outline: none;
  border: none;
  background: #36b37f;
  color: #ebf0ee;
  border-radius: 4px;
  width: 122px;
  height: 48px;
  font-size: medium;
}

.button-text:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.button-text:focus {
  background: #008552;
}

.text-about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid: 1.5rem;
}

.text {
  align-items: center;
  display: flex;
}

.plane {
  position: absolute;
  top: -30px;
  right: 0;
}

h2 {
  text-align: center;
  color: #172b4d;
  padding: 20px;
  font-size: 40px;
}

h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.square {
  display: flex;
  justify-content: flex-end;
}

.button2 {
  display: flex;
  justify-content: center;
  padding: 12px;
}

.button2:hover {
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
}

.button2:focus {
  background: #008552;
}

.text-aline {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding: 12px;
  text-align: center;
}

.plane-image {
  position: absolute;
  width: 100%;
}

.section6 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 55px 0;
}

.quote {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.Language {
  display: flex;
  justify-content: center;
  color: #344563;
  font-size: xx-large;
  margin-top: -28px;
}

.media {
  display: flex;
  gap: 8px;
  justify-content: center;
  list-style-type: none;
  color: #36b37f;
  flex-wrap: wrap;
}

.media li {
  background: white;
  padding: 12px;
  border-radius: 8px;
  font-size: 12px;
}

ul {
  list-style: none;
}

.text-container ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  gap: 0.5rem;
  padding: 20px 0;
}

.text-container ul li {
  color: #3a4a42;
  background: #ebf0ee;
  border-radius: 4px;
  padding: 5px;
}

.holder-text {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  margin: 0 25px 1px 25px;
}

.holder-text1 {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}

.holder-text1 img {
  width: 100px;
  height: 100px;
}

.about-p {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  margin: 20px 15px;
  color: #172b4d;
}

form {
  font-family: 'Inter', sans-serif;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.inputs input {
  width: 327px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  padding: 10px;
}

::placeholder {
  padding: 10px;
}

textarea {
  height: 114px;
  width: 327px;
  text-align: center;
  border: solid 1px #60c095;
  margin-bottom: 20px;
}

.contact-b {
  position: absolute;
  right: 0;
  top: -100px;
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  position: relative;
}

.socials-end {
  display: flex;
  gap: 1rem;
  justify-content: center;
  position: relative;
}

.socials-end::after {
  content: '';
  width: 140px;
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: -30px;
  display: flex;
  flex-direction: column;
  background: black;
  border-radius: 24px;
  margin-bottom: 10px;
}

.final-text {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
