body {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.page {
  display: flex;
  flex-direction: column;
  margin: unset;
  overflow: auto;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.middle {
  color: #36b37e;
}

.description {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  text-align: center;
}

.headline {
  background-image: url('/assets/icons/header-illustration-mobile.svg');
  height: 600px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.lines {
  font-size: 40px;
  line-height: 52px;
  margin-top: unset;
  margin-bottom: unset;
}

.socials {
  display: flex;
  gap: 1rem;
}
